#background{
    padding: auto;
    margin:auto;

height:150px; 
width: 250px;
background-image:url("simon-berger-aZjw7xI3QAA-unsplash.jpg");
background-repeat: no-repeat;
background-position:center ;
background-size: 300px;
background-attachment: scroll;
border: 2px solid black; 
overflow: auto;
}
